header{
    width: 100%;
    background-color: white;
    padding: 20px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3{
    color:#333;
}

header nav{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:30px;

}

header nav a{
    color:#333;
    text-decoration: none;
}

header nav a:hover {
    color:darkorange;
}